<script>
  import Copy from '../components/Copy.svelte';

  const phoneNumber = '+33611223344';
</script>

<div>
  Phone Number : {phoneNumber} (It's me, Mario!)
  <Copy
    content={phoneNumber}
    showContent={false}
    iconLarge={true}
  />
</div>
