<script>
  import { createEventDispatcher } from 'svelte';

  export let content;
  export let showContent = true;
  export let title = 'Copy content';
  export let timerDuration = 1000;
  export let iconCopy = 'far fa-copy';
  export let iconSuccess = 'far fa-check-circle';
  export let iconLarge = false;

  const dispatch = createEventDispatcher();
  let copied = false;
  let timer;
  $: iconClass = copied ? iconSuccess : iconCopy;

  // @see https://gist.github.com/anazard/d42354f45e172519c0be3cead34fe869
  const copy = (event) => {
    const input = document.createElement('INPUT');

    // The copy logic itself.
    dispatch('copy', event);
    document.body.appendChild(input);
    input.setAttribute('value', content);
    input.select();
    document.execCommand('copy');
    document.body.removeChild(input);

    // Copy success animation.
    if (timer) {
      window.clearTimeout(timer);
      timer = null;
    }
    copied = true;
    timer = window.setTimeout(() => copied = false, timerDuration);
  }
</script>

<style>
  .icon.icon-large {
    @apply text-xl;
  }
</style>

{#if showContent}{content}{/if}
<button tabindex="0" title="{title}" on:click={copy}>
  <i class="icon {iconLarge ? 'icon-large ' : ''}{iconClass}"></i>
</button>
