<script>
  import Search from './Search.svelte';
  import SortBy from './SortBy.svelte';

  export let searchFields = [];
  export let sortFields = {};

  export let search = '';
  export let query = {};

  export let sortBy = '';
  export let sortAsc = true;
</script>

<style>
  .wrapper {
    @apply w-full;
    @apply bg-gray-100;
    @apply flex;
    @apply flex-col;
  }

  .search {
    @apply flex-grow;
  }

  .sort-by {
    @apply w-full;
  }

  @screen sm {
    .wrapper {
      @apply flex-row;
    }

    .sort-by {
      @apply w-48;
    }
  }
</style>

<div class="wrapper">
  <div class="search">
    <Search
      bind:search
      bind:query
      fields={searchFields}
    />
  </div>
  {#if Object.keys(sortFields).length}
    <div class="sort-by">
      <SortBy
        bind:field={sortBy}
        bind:asc={sortAsc}
        fields={sortFields}
      />
    </div>
  {/if}
</div>
