<script>
  export let columns;
</script>

<style>
  tr {
    @apply text-left;
  }

  th {
    @apply px-4;
    @apply py-4;
  }
</style>

<tr>
  {#each columns as [ field, label ]}
    <th>
      {label}
    </th>
  {/each}
</tr>
