<script>
  import DataFilter from './DataFilter.svelte';
  import DataTable from './DataTable.svelte';
  import DataPagination from './DataPagination.svelte';

  export let searchFields = [];
  export let sortFields = [];
  export let columns = [];
  export let rows = [];

  export let filter = true;
  export let search = '';
  export let query = {};

  export let sortBy;
  export let sortAsc;

  export let currentPage = 1;
  export let lastPage = 1;

  // Avoids unwanted blank result with broken pagination.
  $: if (currentPage > lastPage) {
    currentPage = 1;
  }
</script>

<style>
  .pagination {
    @apply mt-2;
  }
</style>

{#if filter}
  <DataFilter
    bind:search
    bind:query
    bind:sortBy
    bind:sortAsc
    {searchFields}
    {sortFields}
  />
{/if}

<DataTable {columns} {rows} />

{#if lastPage > 1}
  <div class="pagination">
    <DataPagination
      bind:current={currentPage}
      last={lastPage}
    />
  </div>
{/if}
