<script>
  export let current = 1;
  export let last = 1;

  const rangeSize = 2;
  $: range = [
    ...Array.from({length: rangeSize}, (_, i) => current - i - 1),
    current,
    ...Array.from({length: rangeSize}, (_, i) => current + i + 1),
  ].sort((a, b) => a - b).filter(page => page >= 1 && page <= last);
</script>

<style>
  button {
    @apply h-12;
    @apply border;
    @apply rounded;
  }
  button:hover {
    @apply bg-gray-200;
  }

  .wrapper {
    @apply flex;
    @apply w-full;
    @apply justify-between;
  }

  .step-control {
    @apply hidden;
  }
  .step-control button {
    @apply w-24;
  }

  .pages {
    @apply flex-grow;
    @apply flex;
    @apply justify-between;
    @apply items-center;
  }

  .separator {
    @apply w-8;
    @apply mx-1;
    @apply text-xs;
    @apply text-gray-700;
    @apply text-center;
  }
  .separator,.page.first,.page.last {
    @apply hidden;
  }

  button.page {
    @apply w-12;
    @apply mx-1;
  }

  button.page.current {
    @apply bg-gray-200;
  }

  @screen sm {
    .step-control {
      @apply block;
      @apply w-24;
    }

    .pages {
      @apply flex-grow-0;
    }

    .separator,.page.first,.page.last {
      @apply block;
    }
  }
</style>

<div class="wrapper" on:mousedown|preventDefault>
  <div class="step-control">
    {#if current > 1}
      <button on:click={() => current = current - 1}>
        Previous
      </button>
    {/if}
  </div>
  <div class="pages">
    {#if current > rangeSize + 1}
      <button class="page first" on:click={() => current = 1}>1</button>
      <div class="separator">...</div>
    {/if}
    {#each range as page}
      <button
        disabled={page === current}
        class="page{page === current ? ' current' : ''}"
        on:click={() => current = page}
      >
        {page}
      </button>
    {/each}
    {#if current < last - rangeSize}
      <div class="separator">...</div>
      <button class="page last" on:click={() => current = last}>{last}</button>
    {/if}
  </div>
  <div class="step-control">
    {#if current !== last}
      <button on:click={() => current = current + 1}>
        Next
      </button>
    {/if}
  </div>
</div>
