<script>
  import DataTableHeader from './DataTableHeader.svelte';
  import { polyfillRow } from '../utils';

  // Configuration
  export let showHeader = true;
  export let showFooter = true;
  export let emptyDataMessage = "No data to show.";

  // Data
  export let columns = [];
  export let rows = [];
</script>

<style>
  .wrapper {
    @apply w-full;
    @apply overflow-x-auto;
  }

  table {
    @apply table-auto;
    @apply w-full;
  }

  thead {
    @apply border-b-2;
  }

  tfoot {
    @apply border-t-2;
  }

  .splash {
    @apply text-center;
  }
  .splash > td {
    @apply py-4;
  }

  .row:not(:last-child) {
    @apply border-b;
  }
  .row:hover {
    @apply bg-gray-200;
  }
  .row > td {
    @apply px-4;
    @apply py-4;
  }
</style>

<div class="wrapper">
  <table>
    {#if showHeader && columns.length > 0}
      <thead>
        <DataTableHeader {columns} />
      </thead>
    {/if}
    <tbody>
    {#await rows}
      <tr class="splash">
        <td colspan="{columns.length}">
          <i class="fas fa-compact-disc fa-lg fa-spin"></i>
        </td>
      </tr>
    {:then resolvedRows}
      {#each resolvedRows.map(polyfillRow) as row}
        <tr class="row">
          {#each columns as [ field, _ ]}
            <td>
              {#if row[field] && row[field].link}
                <a href="{row[field].link}">
                  {row[field].label}
                </a>
              {:else if row[field]}
                {row[field].label}
              {:else}
                N/A
              {/if}
            </td>
          {/each}
        </tr>
      {:else}
        <tr class="splash">
          <td colspan="{columns.length}">
            {emptyDataMessage}
          </td>
        </tr>
      {/each}
    {:catch error}
      <tr class="splash">
        <td colspan="{columns.length}">
          {error.message}
        </td>
      </tr>
    {/await}
    </tbody>
    {#if showFooter && columns.length > 0}
      <tfoot>
        <DataTableHeader {columns} />
      </tfoot>
    {/if}
  </table>
</div>
