<script>
  import { createEventDispatcher } from 'svelte';

  export let show = true;
  export let items = [];

  const dispatch = createEventDispatcher();

  const select = (item) => (event) => dispatch('select', item);
</script>

<style>
  .wrapper {
    @apply bg-white;
    @apply border;
    @apply mt-1;
    @apply py-2;
    @apply rounded;
  }

  .spaced {
    @apply px-3;
    @apply py-2;
  }

  .list {
    @apply overflow-auto;

    /* @see https://github.com/tailwindcss/tailwindcss/issues/1374 */
    max-height: 16rem;
  }

  .loader {
    @apply text-center;
    @apply w-48;
  }

  button {
    @apply w-full;
    @apply text-left;
  }
  button:hover {
    @apply bg-gray-300;
  }

  .error {
    @apply text-red-500;
  }
</style>

{#await items}
  <div class="wrapper loader">
    <div class="spaced">
      <i class="fas fa-compact-disc fa-lg fa-spin"></i>
    </div>
  </div>
{:then resolvedItems}
  {#if show && resolvedItems.length}
    <ul class="list wrapper">
      {#each resolvedItems as item}
        <li>
          <button
            class="spaced"
            on:click={select(item)}
          >
            {item.label}
          </button>
        </li>
      {/each}
    </ul>
  {/if}
{:catch error}
  <div class="wrapper error">
    <div class="spaced">
      {error.message}
    </div>
  </div>
{/await}
