<script>
  import SearchTokenGroup from "./SearchTokenGroup.svelte";
  import Dropdown from "./Dropdown.svelte";
  import { polyfillValue } from "../utils";

  export let id = "search";
  export let placeholder = "Search";

  export let fields = [];
  $: polyfilledFields = fields.map(([key, label, values]) => ({
    key,
    label,
    values,
  }));

  export let query = {};
  export let search = "";

  let tokens = [];
  // Temporary variable to build the next token.
  let token = {};

  const conditions = {
    "=": "_eq",
    "!=": "_ne",
  };

  // Re-build the query each time the tokens change.
  $: {
    query = {};
    tokens.forEach(token => {
      query[token.field.key] = {};
      query[token.field.key][conditions[token.condition]] = token.value.value;
    });
  }

  let suggesterOpened = false;

  const reset = () => {
    search = '';
    tokens = [];
    token = {}
  }

  const focus = event => {
    suggesterOpened = true;
  };

  const blur = event => {
    // Do not remove the suggester list if the event comes from it.
    // @see https://github.com/sveltejs/svelte/issues/4347
    suggesterOpened =
      event.relatedTarget !== null &&
      event.relatedTarget.classList.contains("suggest-element");
  };

  const fetchSuggestedValues = values =>
    typeof values === "function"
      ? values()
      : new Promise(resolve => resolve(values));
  // Dynamic items suggestion according to the token build state.
  let suggestedItems = [];
  $: {
    if (token.condition) {
      suggestedItems = fetchSuggestedValues(
        polyfilledFields.filter(field => field.key === token.field.key)[0]
          .values
      )
        .then(items => items.map(polyfillValue))
        .then(items => items.filter((item) => item.label.toString().toLowerCase().includes(search)))
      ;
    } else if (token.field) {
      suggestedItems = Object.entries(conditions).map(([label, value]) => ({
        label,
        value
      }))
        .filter((item) => item.label.startsWith(search))
      ;
    } else {
      suggestedItems = polyfilledFields.filter(
        field => !tokens.filter(token => token.field.key === field.key).length
      ).filter((item) => item.label.toString().toLowerCase().includes(search));
    }
  }

  $: if (Object.keys(conditions).includes(search)) {
    token.condition = search;
    search = '';
  }

  const selectItem = event => {
    search = "";
    if (token.condition) {
      token.value = event.detail;
      tokens = [...tokens, token];
      // Cleans up the token to reset the process.
      token = {};
    } else if (token.field) {
      token.condition = event.detail.label;
    } else {
      token.field = event.detail;
    }
  };

  const removeToken = (targetToken) => () => {
    if (targetToken == token) {
      token = {}
    } else {
      tokens = tokens.filter(token => token != targetToken);
    }
  }

  $: focusedClass = suggesterOpened ? "focused" : "";
</script>

<style>
  .wrapper {
    @apply bg-white;
    @apply flex;
    @apply flex-wrap;
    @apply align-bottom;
    @apply border;
    @apply m-2;
    @apply rounded;
  }
  .wrapper.focused {
    @apply outline-none;
    @apply border-gray-500;
  }

  .tokens {
    @apply pl-3;
    @apply whitespace-no-wrap;
    @apply flex;
    @apply flex-wrap;
  }

  .search {
    @apply flex-grow;
    @apply relative;
  }
  .search > label {
    @apply sr-only;
  }

  .input-wrapper {
    @apply flex;
  }

  input {
    @apply p-3;
    @apply pr-0;
    @apply w-full;
    @apply rounded;
  }
  input::placeholder {
    @apply text-gray-700;
  }

  button.clear {
    @apply py-3;
    @apply px-4;
    @apply text-gray-500;
  }
  button.clear:hover {
    @apply text-gray-700;
  }

  .dropdown {
    @apply absolute;
    @apply z-10;
    @apply top-0;
    @apply mt-12;
  }
</style>

<div class="wrapper {focusedClass}">
  <div class="tokens">
    {#each [...tokens, token] as token}
      <SearchTokenGroup
        field={token.field}
        condition={token.condition}
        value={token.value}
        on:click={removeToken(token)}
      />
    {/each}
  </div>
  <div class="search">
    <label for={id}>{placeholder}</label>
    <div class="input-wrapper">
      <input
        {id}
        type="text"
        autocomplete="off"
        {placeholder}
        bind:value={search}
        on:focus={focus}
        on:blur={blur}
      />
      {#if search || tokens.length || token.field}
        <button
          class="clear"
          on:click={reset}
          on:mousedown|preventDefault
        >
          <i class="fas fa-times"></i>
        </button>
      {/if}
    </div>
    <!-- Prevents mousdown event to keep search input focus -->
    <div class="dropdown" on:mousedown|preventDefault>
      <Dropdown
        show={suggesterOpened}
        items={suggestedItems}
        on:select={selectItem}
      />
    </div>
  </div>
</div>
