<script>
  import SearchToken from "./SearchToken.svelte";

  let hovered = false;

  export let field;
  export let condition;
  export let value;
</script>

<style>
  button {
    @apply flex;
  }
</style>

<button
  on:mouseenter={() => hovered = true}
  on:mouseleave={() => hovered = false}
  on:mousedown|preventDefault
  on:click
>
  {#if typeof field !== 'undefined' && typeof field.label !== 'undefined'}
    <SearchToken {hovered} text={field.label}/>
  {/if}
  {#if typeof condition !== 'undefined'}
    <SearchToken {hovered} text={condition}/>
  {/if}
  {#if typeof value !== 'undefined' && typeof value.label !== 'undefined'}
    <SearchToken {hovered} text={value.label} hasCross={true} />
  {/if}
</button>
