<script>
  export let hovered = false;

  export let text;
  export let hasCross = false
</script>

<style>
  .wrapper {
    @apply flex;
    @apply px-2;
    @apply py-1;
    @apply mr-1;
    @apply my-2;
    @apply bg-gray-200;
    @apply rounded;
  }

  .wrapper.hovered {
    @apply bg-gray-300;
  }

  .cross {
    @apply pl-2;
    @apply text-gray-700;
  }
</style>

<div class="wrapper{hovered ? ' hovered' : ''}">
  <div>
    {text}
  </div>
  {#if hasCross}
    <div class="cross">
      <i class="fas fa-times"></i>
    </div>
  {/if}
</div>
