<script>
  import Dropdown from './Dropdown.svelte';

  export let fields = {};

  export let field = Object.keys(fields)[0];
  $: displayField = fields[field];
  export let asc = true;
  let showMenu = false;

  $: dropdownItems = Object.entries(fields).map(([field, label]) => ({
    field, label
  }));

  $: sortIconClass = asc
    ? 'fas fa-sort-amount-down-alt'
    : 'fas fa-sort-amount-down'
  ;
  $: dropdownIconClass = showMenu
    ? 'fas fa-chevron-up'
    : 'fas fa-chevron-down'
  ;

  const handleKeydown = (event) => {
    if (event.key === 'Escape') {
      showMenu = false;
    }
  }

  const select = (event) => {
    field = event.detail.field;
    showMenu = false;
  }
</script>

<style>
  .wrapper {
    @apply flex;
    @apply border;
    @apply relative;
    @apply bg-white;
    @apply m-2;
    @apply rounded;
  }

  button.field {
    @apply p-3;
    @apply text-left;
    @apply flex-grow;
    @apply border-r;
    @apply relative;
  }

  button.order {
    @apply p-3;
    @apply w-12;
    @apply text-center;
    @apply text-gray-600;
  }
  button.order:hover {
    @apply text-gray-700;
  }

  .dropdown-icon {
    @apply absolute;
    @apply right-0;
    @apply top-0;
    @apply p-3;
    @apply text-gray-300;
  }
  .dropdown-icon > i {
    @apply text-xs;
  }

  .dropdown {
    @apply absolute;
    @apply top-0;
    @apply right-0;
    @apply mt-12;
    @apply mr-12;
  }
</style>

<svelte:window on:keydown={handleKeydown}/>

<div class="wrapper" on:mousedown|preventDefault>
  <button
    class="field"
    on:click={() => showMenu = !showMenu}
  >
    {displayField}
    <div class="dropdown-icon">
      <i class="{dropdownIconClass}"></i>
    </div>
  </button>
  <button
    class="order"
    title="Sort order"
    on:click={() => asc = !asc}
  >
    <i class="{sortIconClass}"></i>
  </button>

  {#if showMenu}
    <div class="dropdown">
      <Dropdown items={dropdownItems} on:select={select} />
    </div>
  {/if}
</div>
